* pandas é a biblioteca para extração e leitura de dados
* sklearn é a biblioteca que tem modelos
* numpy é a biblioteca de python
* train_test_split separa os dados de treino e de teste
* logisticRegression é o modelo que irá ser usado
* pyplot é uma biblioteca de gráficos

In [ ]:
import pandas as pd
import sklearn
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot

lendo dados do csv

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/profmoisesomena/escience_and_tools/master/data/titanic_lab_sample.csv', header = 0, names=['classe', 'sexo', 'idade', 'irmao_conjuge', 'pais_criancas', 'tarifa', 'sobreviveu'])

In [ ]:
df.describe()

            classe         sexo  ...         tarifa   sobreviveu
count  1108.000000  1108.000000  ...    1108.000000  1108.000000
mean      2.215704     0.387184  ...    5135.653576     0.420578
std       0.858270     0.487326  ...   27541.433817     0.493875
min       1.000000     0.000000  ...       0.000000     0.000000
25%       1.000000     0.000000  ...       9.840650     0.000000
50%       2.000000     0.000000  ...      26.000000     0.000000
75%       3.000000     1.000000  ...      71.837475     1.000000
max       3.000000     1.000000  ...  262375.000000     1.000000

[8 rows x 7 columns]

array contêm todos os valores da tabela

In [ ]:
array = df.values

y contêm se sobreviveu ou não, x contêm o resto

In [ ]:
X, y = array[:, 0:6], array[:,6]

* separando dados para treino e para teste
* passando como parametro os valores, a porcentagem para o teste ...
* 25% para teste e 75% para treino

In [ ]:
X_train, X_teste, y_train, y_teste = train_test_split(X, y, test_size = 0.25, random_state = 0, shuffle = True)

declarando o modelo que irá ser aplicado

In [ ]:
model = LogisticRegression()

Fazendo o modelo aprender com os dados de treino

In [ ]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

* Mostrando a precisão dos dados de treino
* faz a predição com os dados de treino e depois verifica o acerto com base no y_train
* y_train contêm as respostas (coluna sobreviveu)

In [ ]:
print("\n --- Precisão de treino --- \n ==> ", sklearn.metrics.accuracy_score(y_train, model.predict(X_train)))

 --- Precisão de treino ---
 ==>  0.766546329723225

In [ ]:
print("\n --- Precisão de teste ---\n ==>", sklearn.metrics.accuracy_score(y_teste, model.predict(X_teste)))

 --- Precisão de teste ---
 ==> 0.7292418772563177

* Gera uma tabela (DataFrame)
* Mostra as predições e o "gabarito"
* .tail pega os ultimos
* .head pega os primeiros

In [ ]:
pd.DataFrame(data = np.c_[np.c_[X_teste, y_teste], model.predict(X_teste)],
             columns = ['classe', 'sexo', 'idade', 'irmao_conjuge', 'pais_criancas', 'tarifa', 'sobreviveu', 'predicao']).tail(5)

     classe  sexo      idade  ...     tarifa  sobreviveu  predicao
272     2.0   1.0  30.000000  ...    21.0000         1.0       1.0
273     3.0   1.0  27.000000  ...  7925.0000         1.0       0.0
274     1.0   0.0  24.000000  ...    82.2667         1.0       0.0
275     3.0   1.0  30.089513  ...    22.3583         1.0       1.0
276     1.0   0.0  39.000000  ...    29.7000         0.0       0.0

[5 rows x 8 columns]